<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训 www.zhufengpeixun.cn</title>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(fruit,key) in arr">
            {{key}}:{{fruit}}
        </li>
    </ul>
    <ul>
        <li v-for="(value,key,index) in school">
            {{index}}:{{key}}={{value}}
        </li>
    </ul>
    <ul>
        <li v-for="a in 'zfpx'">{{a}}</li>
    </ul>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
  var vm = new Vue({
    el:'#app',
    data:{
      arr:['西瓜','葡萄','香蕉'],
      school:{
        name:'zfpx',
        age:8
      }
    }
  });
</script>
</body>
</html>