<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训 www.zhufengpeixun.cn</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="computer" @keydown.enter="add">
    <ul>
        <li v-for="item in computers">{{item}}</li>
    </ul>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
  var vm = new Vue({
    el:'#app',
    data:{
      computers:[],
      computer:''
    },
    methods:{
      add(event){
          this.computers.push(this.computer);
          this.computer = '';
      }
    }
  });
</script>
</body>
</html>